/* *** GERAL ***  */

@import 'https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --primary: #7159C1;
  --light: #ffffff;
  --dark: #1C1C1C;

  --secondary: #B6AADF;

  --box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
  0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: overlay;
  transition: 0.5s;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  height: 100vh;
  background-color: #efefef;
} 

.wrapper {
  width: min(35rem, 100%);
  margin-inline: auto;
}

.wrapper_2 {
  width: 70%;
  margin-inline: auto;
  padding-block: 3vh;
}

/* *** ----- *** NAVIGATION *** ----- *** */

#body #nav-control {
  display: flex;
  justify-content: space-between;
}

/* *** DARK AND LIGHT MODE *** */

#toggle {
  position: relative; 
  display: block;
  
  width: 7rem;
  height: 3.5rem;
  border-radius: 1.6rem;
  background-color: #efefef;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

#toggle.active {
  background-color: #000;
  box-shadow: 0 8px 40px rgba(0,0,0,0.5),
              inset 0 4px 4px rgba(255,255,255,0.2),
              inset 0 -4px 4px rgba(255,255,255,0.2);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.5),
              inset 0 2px 8px rgba(255,255,255,0.2),
              inset 0 -4px 8px rgba(255,255,255,0.2);
  transition: 0.5s;
}

#toggle.active .indicator {
  left: 3.5rem;
  background: linear-gradient(to bottom, #444, #222);
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.5),
              inset 0 2px 8px rgba(255,255,255,0.2),
              inset 0 -4px 8px rgba(255,255,255,0.2);
}

#body #nav-control button#fullscreen i#screen.active {
  color: var(--light);
}

#body.active {
  background-color: var(--dark);
}

#body-2.active {
  background: linear-gradient( 120deg, #050505 30%, var(--dark) 80%);
}

footer.wrapper_2#copyright.active p {
  color: var(--light);
}

/* *** FULL SCREEN *** */

#body #nav-control button#fullscreen{
  background: none;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

#body #nav-control button#fullscreen i.material-icons {
  color: var(--primary);
  font-size: 3.7rem;
}

#body #nav-control button#fullscreen i.material-icons:hover {
  transform:scale(1.3);
  transition: 0.5s;
}

/* *** ----- *** PLAYER *** ----- *** */

#player {
  background-color: var(--light);
  width: 90%;
  max-width: 375px;
  box-shadow: var(--box-shadow);
}

#player #card {
  box-shadow: none;
  margin: 0;
  padding: 1.5rem 1rem;

  opacity: 0;
  display: none;
}

#play-pause,
#previous-track,
#next-track {
  color: var(--primary);
}

#player-controls {
  margin-bottom: 0.5rem;
}

#volume-icon {
  color: var(--primary);
  transform: translateY(3px);
}

/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  background-color: var(--primary);
}

/* Mozilla */
input[type="range"]::-moz-range-thumb {
  background-color: var(--primary);
}

/* Internet Explorer e Edge */
input[type="range"]::-ms-thumb {
  background-color: var(--primary);
}

.change-tracks {
  display: flex;
  justify-content: space-evenly;
}

/* Music-expanded */

#player #card.music-expanded {
  display: block;
  opacity: 1;
}

#important button {
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

#important i#openMusic {
  color: var(--primary);
}

#important i#openMusic:hover {
  transform:scale(1.3);
  transition: 0.5s;
}

/* *** ----- *** POMODORO *** ----- *** */

#pomodoro, .content{
  display: flex;
  align-items: center;
  justify-content: center;
}

#pomodoro {
  padding: 1rem 2.5rem 1rem;
  background: var(--light);
  border-radius: 5px;
  flex-direction: column;
  /* box-shadow: 0 10px 25px rgba(0,0,0,0.1); */
  box-shadow: var(--box-shadow);
}

#pomodoro h1 {
  font-size: 5rem;
  font-weight: bold;

  color: var(--primary);
  padding: 1rem;
}

#pomodoro .content {
  width: 100%;
  justify-content: space-between;
}

#pomodoro .content.disable {
  cursor: no-drop;
}

#pomodoro .content .column {
  padding: 0 1rem;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  width: calc(100% / 3 - 5px);
}

#pomodoro .content.disable .column{
  opacity: 0.6;
  pointer-events: none;
}

#pomodoro .column select{
  width: 100%;
  height: 5.3rem;
  border: none;
  outline: none;
  background: none;
  font-size: 1.7rem;
  cursor: pointer;
}

#pomodoro button{
  max-width: 100%;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.7rem 0;
  margin-top: 2rem;
  border-radius: 5px;
  background: var(--primary);
}

#pomodoro #buttons-control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 1.5rem;

  width: 100%;
}

#pomodoro #sugestion p {
  font-size: 1.3rem;

  margin-top: 1.3rem;
}

/* *** ----- *** SECOND BODY *** ----- *** */

#body-2 {
  background-color: #f6f8f8;
}

/* *** ABOUT POMODORO *** */

#body-2 article.about .box-text {
  position: relative;
}

#body-2 article.about h1 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 3rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);

  background-color: white;
  border-radius: 5rem;
  position: absolute;
  top: -10px;
  right: 3%;
  padding: 0 5px;
  margin: 0;
}

#body-2 article.about p {
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 5rem;
  background-color: var(--secondary);
  box-shadow: var(--box-shadow);
  margin-top: 5rem;
  padding: 3.7rem 2rem 1rem;
}

/* *** FOOTER *** */

footer.wrapper_2#copyright p, a {
  font-size: 1.5rem;
  text-align: center;
  color: var(--primary);
  font-weight: bold;

  padding-bottom: 1rem;
}

/* *** ----- *** RESPONSIVE *** ----- *** */

 @media (min-width: 1024px) {

  /* *** GERAL *** */

 /*  body{
    overflow: auto;
  }

  #body {
    display: grid;
    grid-template-columns: 1fr;

    margin-inline: auto;
    
    place-content: center;
    place-items: center;
    gap: 2rem;
  }

  #body #nav-control {
    width: max(76.5%, 95rem);
  }

  #body #important {
  margin-inline: auto;

  display: flex;
  flex-direction: row;
  align-content: space-evenly;

  gap: 3vh;
  }

  #body .wrapper {
    width: min(50rem, 100%);
  }

  #important #player i.material-icons {
    color: var(--primary);
    font-size: 3.2rem;
  }
  
  #important #player i.material-icons:hover {
    transform:scale(1.5);
    transition: 0.5s;
  }

  .card,
  .closeMusic,
  #player.music-expanded  .openMusic {
  opacity: 0;
  visibility: hidden;
  }

  #player.music-expanded,
  #player.music-expanded .closeMusic {
  opacity: 1;
  visibility: visible;
  }

 
  





  
  #player .card-content h5 {
    font-size: 2.3rem;
  }

  #player .card-content p.artist {
    font-size: 1.3rem;
  }
  
  #pomodoro h1#counter {
    padding-block: 0.5rem;
    font-size: 7rem;
    margin: 0;
  }

  #body-2 .wrapper_2 {
    width: 60%;
  } */


  /* *** ABOUT POMODORO *** */

 /*  #body-2 article.about h1 {
    font-size: 2.3rem;

    padding: 0.7rem 5rem;
    top: -17px;
  }

  #body-2 article.about p {
    font-size: 1.8rem;
  } */

}